{% import 'macros.html' as macro%}


<body>
    <div style="margin-top: 30px; margin-bottom: 30px;">

        <div class="col-xs-12 col-sm-6 col-md-4">
                 <div class="thumbnail">
                 <img src="https://d1yzezhhfj4ndu.cloudfront.net/default-project-thumbnail-250c773441bf9b5b2b363f3f403d4fa4.png" alt="Card Thumbnail" style="padding: 0px; margin-top: 5px;">
                     <div class="caption">
                       <h4>Card Title</h4>
                       <p style="font-size: 14px">Write a short description. Avoid policy terms or jargon.</p>
                       <a href="#" class="btn btn-primary center-block" role="button">Open App</a>
                   </div>
                 </div>
               </div>
       
       <div class="col-xs-12 col-sm-6 col-md-4">
                 <div class="thumbnail">
                 <img src="https://d1yzezhhfj4ndu.cloudfront.net/default-project-thumbnail-250c773441bf9b5b2b363f3f403d4fa4.png" alt="Card Thumbnail" style="padding: 0px; margin-top: 5px;">
                     <div class="caption">
                       <h4>Card Title</h4>
                       <p style="font-size: 14px">Write a short description. Avoid policy terms or jargon.</p>
                       <a href="#" class="btn btn-primary center-block" role="button">Open App</a>
                   </div>
                 </div>
               </div>
       
       <div class="col-xs-12 col-sm-6 col-md-4">
                 <div class="thumbnail">
                 <img src="https://d1yzezhhfj4ndu.cloudfront.net/default-project-thumbnail-250c773441bf9b5b2b363f3f403d4fa4.png" alt="Card Thumbnail" style="padding: 0px; margin-top: 5px;">
                     <div class="caption">
                       <h4>Card Title</h4>
                       <p style="font-size: 14px">Write a short description. Avoid policy terms or jargon.</p>
                       <a href="#" class="btn btn-primary center-block" role="button">Open App</a>
                   </div>
                 </div>
               </div>   
       </div>
</body>
</html>