{% extends 'base.html' %}
{% import 'macros.html' as macro %}


{% block content %}
    
    <div class="container">
    <div class = "row">
        <h1>Interview Pitches</h1>
            <hr>
        {% if pitchInterview %}
            {% for interview in pitchInterview %}
                <p>{{interview.pitch}}</p>
                <p> Posted On:{{interview.posted}} </p>
                <p>Author:{{interview.user.username}} </p>
                <a class="btn btn-warning btn-sm text-center" href="/pitch/new/comment/{{interview.id}}"> View Comments </a>
            {% endfor%}
            <a class="btn btn-success btn-lg text-center"  href="{{url_for('main.new_pitch')}}">Add a Pitch</a>
        {% else %}
            <h3 class ="text-center" style="font-size:200%"> This category has no pitches </h3>
            <a class="btn btn-success btn-lg text-center"  href="{{url_for('main.new_pitch')}}">Write a new Pitch</a>
        {%endif%}
    </div>
    </div>

{% endblock %}