{% extends 'base.html' %}
{% import 'macros.html' as macro %}


{% block content %}
    
    <div class="container">
        <div class = "row">
            <h1>Tech Projects Pitches</h1>
            <hr>
            {% if pitchTech %}
                {% for tech in pitchTech %}
                    <p>{{tech.pitch}}</p>
                    <p> Posted On:{{tech.posted}} </p>
                    <p>Author:{{tech.user}} </p>
                    <a class="btn btn-warning btn-sm text-center" href="/pitch/new/comment/{{tech.id}}"> View Comments </a>
                {% endfor%}
                    <a class="btn btn-success btn-lg text-center"  href="{{url_for('main.new_pitch')}}">Add a Pitch</a>            
            {% else %}
                <h3 class ="text-center" style="font-size:200%"> This category has no pitches </h3>
                <a class="btn btn-success btn-lg text-center"  href="{{url_for('main.new_pitch')}}">Write a new Pitch</a>
            {%endif%}
        </div>
    </div>

{% endblock %}